.container {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 12px;
  background: #fff;
  width: 100%;
  height: 100%;
  color: #111827;
}

.editor {
  border-radius: inherit;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.editor:focus {
  outline: none;
}

.editorContainer {
  position: relative;
  padding: 16px 54px;
  height: 100%;
}

.editor p {
  margin: 1em 0;
}
